my-location-info {
    .left {
        margin-right: 40px;
    }

    .col-lg-6.col-xs-12 {
        border: 20px;
        height: 200px;
    }

    widget-body {
        overflow: auto;
    }

    .error {
        color: red;
    }

    .md-body-2 {
        font-weight: bold;
    }

    evt-widget md-card-content > header {
        background-color: #333;
        color: whitesmoke;

        .evt-header, .evt-body-light, md-icon {
            color: whitesmoke;
        }
    }
}
