my-detection-tool {

    widget-body {
        overflow: auto;
    }

    evt-widget md-card-content > header {
        background-color: #333;
        color: whitesmoke;

        .evt-header, .evt-body-light, md-icon {
            color: whitesmoke;
        }
    }

    .time {
        margin-left: 10px;
    }

    .container {
        margin: 1px;
        width: 99%;
        height: 95%;
    }

    button {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
        white-space: nowrap;
    }

    .result {
        border: 1px solid #333333;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
        margin: 0px;
    }

    .head {
        border: 1px solid #333333;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
        background-color: #333;
        color: whitesmoke;
        margin: 0px;
    }

    .col-sm-4 {
        text-align: center;
        margin: 0px;
    }

    .problem {
        color: red;
    }
}
